@import "tailwindcss/base";
@import "./custom-base-styles";

@import "tailwindcss/components";
@import "./custom-components";

@import "tailwindcss/utilities";
@import "./custom-utilities";

// @import "./components/navbar.scss";
@import "./components/navbar-2.scss";
@import "./components/swiper.scss";
body {
  top: 0px !important;
}

body.admin-bar {
  max-height: calc(100vh - 32px);
}

[id="google_translate_element2"],
[id=":1.container"] {
  display: none !important;
}
[id="goog-gt-tt"] {
  display: none !important;
}

#wpadminbar {
  @apply hidden;
}
